.leadership {
  padding-top: 18px;
}

.leadership-item {
  display: flex;
  flex-direction: row;
  background-color: var(--second-color);
  color: var(--base-color);
}

.leadership-info {
  display: flex;
  align-items: center;
  width: 50%;
}

.leadership-content {
  padding: 10% 13%;
}

.leadership-pics {
  width: 50%;
  display: inherit;
  align-items: flex-start;
  flex-wrap: wrap;
}