
.passions-item {
  background-color: var(--second-color);
  display: flex;
  height: 450px;
}

.passion-info-container {
  display: inherit;
  flex: 1;
  align-items: center;
}

.passion-info {
  color: var(--base-color);
  padding: 10% 17%;
}

/* .passions-item-title {
  padding: 0 0 1em 0;
  font-weight: bold;
} */

.passion-pics {
  display: flex;
  flex: 1;
}