
:root {
  --main-color:#022F40;
  --base-color: white;
  --second-color: #38AECC;
  --accent-color: #FF6978;
}

body {
  min-width: 60em;
}

.nav {
  text-decoration: none;
  color: var(--base-color);
}

.nav:visited {
  text-decoration: none;
}

.nav:hover {
  border-bottom: 3px solid var(--accent-color);
}

h3 {
  color: var(--main-color);
  margin: 0 0 1em 0;
}

:target::before {
  content: "";
  display: block;
  height: 40px;
  margin: -40px 0 0; 
}

#App {
  text-align: left;
  min-width: 50em;
}

.name {
  background: transparent;
  position: absolute;
  left: 100px;
  top: 40px;
  color: var(--main-color);
  font-size: 3em;
}

.header {
  height: 18px;
  background: var(--main-color);
}

#header-image {
  background-image: url("./resources/Grad_arch_bike_cropped.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navigation {
  background-color: var(--main-color);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.navigation-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--base-color);
  margin: 0 24%;
  font-size: 20px;
  height: 2em;
}


.section-title {
  background-color: var(--main-color);
  color: var(--base-color);
  font-size: 35px;
  font-weight: 600;
  padding: 13px 0;
  text-align: center;
}
/* 
.content {
  margin-left: 18%;
  margin-right: 18% ;
} */