
:root {
  --main-color:#06306E;
  --base-color: white;
  --second-color: #5F82B6;
  --accent-color: #FF6978;
}

body {
  min-width: 50em;
}

a {
  text-decoration: none;
  color: var(--base-color);
}

a:visited {
  text-decoration: none;
}

a:hover {
  border-bottom: 3px solid var(--accent-color);
}

h1 {
  color: var(--main-color);
  position: relative;
}

hr {
  max-width: 80%;
}

:target::before {
  content: "";
  display: block;
  height: 50px; /* fixed header height*/
  margin: -50px 0 0; /* negative fixed header height */
}

.App {
  text-align: left;
  min-width: 50em;
}

.name {
  background: transparent;
  position: absolute;
  left: 100px;
  top: 40px;
  color: var(--main-color);
  font-size: 3em;
}

.header {
  height: 18px;
  background: var(--main-color);
}

.header-image {
  background-image: url("./resources/Grad_arch_bike_cropped.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navigation {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.navigation-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-color);
  color: var(--base-color);
  padding-right: 24%;
  padding-left: 24%;
  font-size: 20px;
  height: 2em;
}
/* 
.content {
  margin-left: 18%;
  margin-right: 18% ;
} */